This notebook shows an example of getting the rat id for each lever / mag event, was mostly just to common sense check that the method for establish rat id was working.

## setup

In [1]:
import sys
sys.path.append('../../')

In [6]:
import pandas as pd
from src.classes.vid_loader import VidLoader
import h5py
import numpy as np
from src.utils.id_utils import get_rat_id
from src.utils.global_utils import ROOTDIR, TESTDIR

In [7]:
vids = VidLoader('dyed', out=False)

In [8]:
session = '041624_KL001_TimeOut/'
vid = vids.pts_multi_vids['PairedTestingSessions/041624_KL001_TimeOut/Videos'][4][:-4]

behav = 'Behavioral/processed/' # I think that processed might only be true if in PTS (yikes)

In [9]:
vid

'041624_Cam4_TrNum10_Coop_KL001B-KL001Y'

In [10]:
lever = pd.read_csv(ROOTDIR + TESTDIR + session + behav + 'lever/' +  vid + '_lever.csv')
mag = pd.read_csv(ROOTDIR + TESTDIR + session + behav + 'mag/' + vid + '_mag.csv')
# will have to try / catch the hell out of this code!!

In [11]:
with h5py.File(f'{ROOTDIR + TESTDIR + session}Tracking/h5/' + vid + '.predictions.h5','r') as f:
    locations = f["tracks"][:].T

## example

In [12]:
lever.head(20)

,TrialNum,LeverNum,AbsTime,TrialCond,DispTime,TrialTime,coopTS,coopSucc,Hit,TrialEnd,AnimalID,RatID
0,1,1,10.92,0,NaN,0.91,NaN,0,1,0,KL001B-KL001Y,1
1,1,1,11.20,0,NaN,1.19,NaN,0,-1,0,KL001B-KL001Y,1
2,1,1,11.73,0,NaN,1.72,NaN,0,-1,0,KL001B-KL001Y,1
3,1,1,12.44,0,NaN,2.43,NaN,0,-1,0,KL001B-KL001Y,1
4,1,1,12.55,0,NaN,2.54,NaN,0,-1,0,KL001B-KL001Y,1
5,2,1,22.45,0,NaN,0.78,NaN,0,1,0,KL001B-KL001Y,1
6,3,1,33.38,0,NaN,0.78,NaN,0,1,0,KL001B-KL001Y,1
7,3,1,34.19,0,NaN,1.59,NaN,0,-1,0,KL001B-KL001Y,1
8,3,2,34.64,0,NaN,2.04,NaN,0,1,1,KL001B-KL001Y,0
9,3,1,34.79,0,NaN,2.19,NaN,0,-2,0,KL001B-KL001Y,1
10,4,2,42.49,3,43.92,0.66,42.55,1,1,0,KL001B-KL001Y,1
11,4,1,42.53,3,43.92,0.70,42.55,1,1,1,KL001B-KL001Y,0
12,4,2,42.93,3,43.92,1.10,42.55,1,-2,0,KL001B-KL001Y,1
13,5,2,52.75,3,54.00,0.63,52.83,1,1,0,KL001B-KL001Y,1
14,5,1,52.80,3,54.00,0.68,52.83,1,1,1,KL001B-KL001Y,0
15,5,2,53.24,3,54.00,1.12,52.83,1,-2,0,KL001B-KL001Y,1
16,6,2,62.49,3,64.24,0.62,62.57,1,1,0,KL001B-KL001Y,1
17,6,1,62.54,3,64.24,0.67,62.57,1,1,1,KL001B-KL001Y,0
18,6,2,62.88,3,64.24,1.01,62.57,1,-2,0,KL001B-KL001Y,1
19,7,2,75.72,3,77.88,0.63,76.06,1,1,0,KL001B-KL001Y,1

In [29]:
get_rat_id(lever, locations, 'lever')

In [30]:
lever

,TrialNum,LeverNum,AbsTime,TrialCond,DispTime,TrialTime,coopTS,coopSucc,Hit,TrialEnd,AnimalID,RatID
0,1,1,10.92,0,NaN,0.91,NaN,0,1,0,KL001B-KL001Y,1
1,1,1,11.20,0,NaN,1.19,NaN,0,-1,0,KL001B-KL001Y,1
2,1,1,11.73,0,NaN,1.72,NaN,0,-1,0,KL001B-KL001Y,1
3,1,1,12.44,0,NaN,2.43,NaN,0,-1,0,KL001B-KL001Y,1
4,1,1,12.55,0,NaN,2.54,NaN,0,-1,0,KL001B-KL001Y,1
...,...,...,...,...,...,...,...,...,...,...,...,...
131,42,2,491.13,3,492.84,1.02,490.77,1,-2,0,KL001B-KL001Y,1
132,42,1,491.58,3,492.84,1.47,490.77,1,-2,0,KL001B-KL001Y,0
133,43,1,500.66,3,502.83,0.37,500.96,1,1,0,KL001B-KL001Y,1
134,43,2,500.93,3,502.83,0.64,500.96,1,1,1,KL001B-KL001Y,0
135,43,1,501.02,3,502.83,0.73,500.96,1,-2,0,KL001B-KL001Y,1

In [31]:
lever.to_csv(ROOTDIR + TESTDIR + session + behav + 'lever/' +  vid + '_lever_II.csv', index=False)
# THIS WILL CREATE A FILE, IF YOU RUN THIS DELETE FILE AFTER PLS!

In [36]:
lever_II = pd.read_csv(ROOTDIR + TESTDIR + session + behav + 'lever/' +  vid + '_lever_II.csv')

In [37]:
lever_II

,TrialNum,LeverNum,AbsTime,TrialCond,DispTime,TrialTime,coopTS,coopSucc,Hit,TrialEnd,AnimalID,RatID
0,1,1,10.92,0,NaN,0.91,NaN,0,1,0,KL001B-KL001Y,1
1,1,1,11.20,0,NaN,1.19,NaN,0,-1,0,KL001B-KL001Y,1
2,1,1,11.73,0,NaN,1.72,NaN,0,-1,0,KL001B-KL001Y,1
3,1,1,12.44,0,NaN,2.43,NaN,0,-1,0,KL001B-KL001Y,1
4,1,1,12.55,0,NaN,2.54,NaN,0,-1,0,KL001B-KL001Y,1
...,...,...,...,...,...,...,...,...,...,...,...,...
131,42,2,491.13,3,492.84,1.02,490.77,1,-2,0,KL001B-KL001Y,1
132,42,1,491.58,3,492.84,1.47,490.77,1,-2,0,KL001B-KL001Y,0
133,43,1,500.66,3,502.83,0.37,500.96,1,1,0,KL001B-KL001Y,1
134,43,2,500.93,3,502.83,0.64,500.96,1,1,1,KL001B-KL001Y,0
135,43,1,501.02,3,502.83,0.73,500.96,1,-2,0,KL001B-KL001Y,1